
* {
    padding: 0;
    margin: 0;
    font-family: 'Gothic A1', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}
header {
    width: 100%;
    position: absolute;
    left: -50px;
}
.container {
    max-width: 1110px;
    margin: auto;
}
.d-flex {
    display: flex;
    justify-content: space-between;
}
header nav ul {
    list-style: none;
    display: flex;
    padding-top: 39px;
}
header ul {
    list-style: none;
    display: flex;
    padding-top: 39px;
}
header ul li a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}
.menu-main {
    margin-right: 10px;    
}
.menu-catalogue {
    margin: 0 10px;
}
.menu-portfolio {
    margin: 0 10px;
}
.menu-blog {
    margin: 0 10px;
}
.menu-contacts {
    margin-left: 10px;    
}
.menu-number {
    margin-right: 10px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}
.menu-callback {
    margin-left: 10px;
    text-decoration-line: underline;
    
}
.main-banner {
    background-image: url('../images/Rectangle.png');
    background-size: cover;    
    padding: 170px 0 34px;
} 

.main-banner .container {
    position: relative;
}
.main-banner h1 {
    margin-bottom: 30px;
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 130%;
    color: #FFFFFF;    

}
.main-banner article {
    box-sizing: border-box;
    margin-bottom: 98px;
    max-width: 512px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding: 36px 33px;
    display: flex;

}
.main-banner article img {
    margin-right: 33px;
}
.main-banner article p {
    font-family: 'Roboto',
        sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #000000
}
.main-banner button {
    text-decoration: none;
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 0px 0px 166px rgba(0, 0, 0, 0.2), 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px 50px;
    border: none;
    font-family: 'Roboto',
        sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
}
.banner-two {
    padding: 18px 0 160px;  
    position: relative;  
}
.banner-two .image-top {
    display: block;
    width: 100%;
    margin-bottom: 160px;
}
.about-us-image {
    max-width: 770px;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 290px;
    right: 0;
}
.banner-two .about-us-image img {
    width: 100%;
    display: block;
    
}

.about-us-general {
    max-width: 385px;
    margin-right: 120px;   
}
.about-us-info {
    margin-bottom: 30px;
}

.banner-two h3 {
    padding-top: 21px;
    margin-bottom: 60px;
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
}

.banner-two .about-us-general p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
}
.banner-two .about-us-general p span {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
}
.banner-three {
    background-image: url("../images/Group379.png");
    background-size: cover;
    padding: 30px 0;
}
.banner-three .header-explanation {
    max-width: 1110px;
    margin: 30px auto 67px;    
}
.banner-three .header-explanation h4 {
    margin-left: 100px;
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
}
.banner-three .our-advantages {
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    margin: auto;
}
.banner-three .our-advantages div {
    background-color: white;
    border-radius: 20px;
    margin-bottom: 30px;
}
.banner-three .our-advantages article {
    max-width: 195px;
    text-align: center;

}
.banner-three .our-advantages h5 {
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
    text-align: left;
}

.banner-three .our-advantages p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
    text-align: left;
}

.our-advantages .advantage-one {
    padding: 65px 30px 50px;
}

.our-advantages .advantage-one img {
    margin-bottom: 68px;
}

.our-advantages .advantage-two {
    padding: 57px 30px 75px;
}

.our-advantages .advantage-two img {
    margin-bottom: 48px;
}

.our-advantages .advantage-three {
    padding: 63px 30px 50px;
}

.our-advantages .advantage-three img {
    margin-bottom: 40px;
}
.our-advantages .advantage-four {
    padding: 71px 30px 50px;
}
.our-advantages .advantage-four img {
    margin-bottom: 65px;
}
.banner-four {
    padding: 27px 0 177px;
}
.banner-four .image-top {
    display: block;
    width: 100%;
    margin-bottom: 182px;
}
.banner-four h4 {
    margin-left: 100px;
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #373737;
}
.banner-four .portfolio-header {
    margin: 0 auto 50px;
    max-width: 1110px;
}
.banner-four .portfolio-examples {
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    margin: 0 auto 80px;
}
.portfolio-example {
    max-width: 540px;
}
.portfolio-example img {
    margin-bottom: 20px;
}

.portfolio-example h6 {
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
}

.portfolio-example p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
}
.banner-four button {
    text-decoration: none;
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px 68px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    display: block;
    margin: auto;
}
.banner-five {
    background-image: url("../images/Group379.png");
    background-size: cover;
    padding: 60px 0;
}
.service-top {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 30px;
    max-width: 1190px;
    margin: 0 auto 10px;
}
.service-top h4 {
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
    max-width: 790px;
}
.form-field {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 30px;
    max-width: 1190px;
    margin: auto;
}
.service-banner {
    background: #4C6071;
    border-radius: 30px;
    padding: 30px 50px 30px;
    display: flex;
    justify-content: space-between;
}
.ui-accordion .ui-accordion-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
    border-radius: 0;
    border: none;
    background-color: transparent;
    
}


.service-options {
    background-color: #FFFFFF;
    padding: 20px;
    max-width: 408px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-options:first-of-type {
    margin-bottom: 10px;
}
.service-options:nth-child(2n) {
    margin-bottom: 10px;
}
.banner-five label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    margin-right: 97px;
}

.photo-buttons {
    max-width: 610px;
}
.service-photo {
    margin-bottom: 10px;
}
.photo-buttons img {
    display: block;
    width: 100%;
}
.buttons {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.buttons button {
    text-decoration: none;
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 0px 0px 166px rgba(0, 0, 0, 0.2), 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px 116px;
    border: none;
    max-width: 290px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    text-align: center;
}
.buttons button:first-of-type {    
    background: #8F8F8F;
    box-shadow: 8px 8px 109px rgba(0, 0, 0, 0.05);
}

.banner-six {
    padding: 30px 0 150px;    
}
.banner-six .image-top {
    display: block;
    width: 100%;
    margin-bottom: 152px;
    
}
.header-facture-catalogue {
    max-width: 1100px;
    margin: auto;
    margin-bottom: 52px;
}

.header-facture-catalogue h4 {
    margin-left: 100px;    
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;    
}
  
.banner-six .facture-catalogue {
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
    max-width: 1110px;
}
.banner-six .facture-catalogue p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
    text-transform: uppercase;
}
.banner-six .facture-catalogue div {
    margin-bottom: 40px;
}
.banner-six .facture-catalogue img {
    margin-bottom: 20px;
}

.banner-six button {
    text-decoration: none;
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 0px 0px 166px rgba(0, 0, 0, 0.2), 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px 50px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF; 
    display: block;   
    margin: 30px auto 0;
}
.banner-seven {
    background-image: url("../images/Group379.png");
    background-size: cover;
    padding: 60px 0 50px;
    
}
.header-videoreviews {
    max-width: 1100px;
    margin: auto;
    margin-bottom: 87px;
}
.banner-seven h3 {
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
    margin-left: 100px;
}
.furniture-icons {
    display: flex;
    max-width: 1100px;
    margin: auto;
    justify-content: space-between;
    position: relative;
    margin-bottom: 45px;
    
}
.furniture-icons a {
    position: absolute;
    top: 85px;
    left: 95px;
}
.furniture-icon-item {
    max-width: 255px;
}
.furniture-icons img {
    display: block;  
    margin-bottom: 20px;       
    
}
.furniture-icons h6 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 10px;

}
.furniture-icons p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}
    
.banner-eight {
    padding-bottom: 200px;
    padding-top: 20px
}
.banner-eight .image-top {
    display: block;
    width: 100%;
    margin-bottom: 200px;
}
.banner-eight form {
    max-width: 392px;
    margin-right: 105px;
}
.banner-eight h3 {
    margin-bottom: 30px;
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
}
.banner-eight form .form-name {
    margin-bottom: 40px;
    height: 24px;
    display: inline-block;
    width: 100%;
    border: none;
    border-bottom: solid 1px #000000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.5);
    padding-bottom: 5px;
}
.banner-eight form .form-number {
    margin-bottom: 40px;
    height: 24px;
    display: inline-block;
    width: 100%;
    border: none;
    border-bottom: solid 1px #000000;
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.5);
    padding-bottom: 5px;
}
.banner-eight form textarea {
    margin-bottom: 60px;
    height: 24px;
    resize: none;
    display: inline-block;
    width: 100%;
    border: none;
    border-bottom: solid 1px #000000;
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.5);
    padding-bottom: 5px;
}

.banner-eight .container img {
    width: 100%;
    display: block;
    border-radius: 10px;
    overflow: hidden;
}

.banner-eight button {
    text-decoration: none;
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 0px 0px 166px rgba(0, 0, 0, 0.2), 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px 50px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
}
footer {
    background-image: url("../images/Group379.png");
    background-size: cover;
    padding: 50px 0;
}
footer .contacts-container {
    max-width: 1110px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
footer .contacts-container h4 {
    font-family: 'Gothic A1';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 130%;
        color: #FFFFFF;
}
footer .contacts-container p {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
}
footer .contacts-container a {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
        display: block;
        text-decoration: none;
}

footer .contacts-one {
    height: 148px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer .contacts-two {
    height: 148px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}
footer .google-map {
    width: 540px;
    height: 146px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.overmap-text {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
    padding-top: 45px;
    text-align: center;
}
.social-media {
    display: flex;
    justify-content: space-between;    
}
.social-media i {
    font-size: 20px;
}
.owl-nav .owl-prev::before {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        content: "\f060";
        font-size: 30px;
        color: #FFFFFF;
        margin-right: 20px;
}
.owl-nav .owl-next::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f061";
    font-size: 30px;
    color: #FFFFFF;
}
.owl-nav {
    position: relative;
    bottom: 470px;
    left: 920px;
}
.ui-icon  {
    display: none;
}
.ui-accordion .ui-accordion-content {
    padding: 0%;
    border: none;
    border-radius: 0;

}